/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text1:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/

body {
	margin: 0%;
}

/* section 1 */

.top-text {
  background: #262626;
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: unset;
  font-weight: 100;
  list-style: none;
  margin: 0;
  padding: 1px 0;
}

.top-text .item {
  display: none;
}

.top-text .item.active {
  display: block;
}

.top-text .meerinfo {
	color:#c2ae99;
	text-decoration: underline;
}

/* section 2 */





.menu-header {
  background-color: #1a1a1a;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-header > button {
  order: -1; 
  background: none;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  transform: translateX(-100%);
  transition: 0.3s;
}

nav.toonMenu {
   transform: translateX(0);
}




@media (min-width:50em) {
  header > button {
    display: none; 
  }
  
  nav {
    position: static;
    transform: unset;
    padding: 0;
    background: unset;
    
    
  }
  
  nav button {
    display: none;
    
    
  }
  
  nav ul {
    display: flex;
    gap: 1em;
    align-items: center;
  }
}








.logo {
  color: white;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family:"Scala Sans Pro", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif";
}

.icons {
  display: flex;
  gap: 18px;
  align-items: center;
}

.icons img {
  width: 26px;
  height: 26px;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background-color: #1a1a1a;
  display: none;
  flex-direction: column;
  padding-top: 20px;
}

.menu-overlay.active {
  display: flex;
}

.menu-header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.06);
  gap: 15px;
}

.close-btn {
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.menu-search {
  flex: 1;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.menu-search::placeholder {
  color: #888;
}

.navigatie {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.navigatie li {
  padding: 25px 30px;
  border-bottom: 1px solid rgba(255,255,255,0.06);
}

.navigatie a {
  color: white;
  font-size: 30px;
  font-family: serif;
  text-decoration: none;
}

.specials {
    display: flex;
    overflow-x: auto;
    gap: 1.2em;
    padding: 1.5em 1em;
    margin: 0;
    list-style: none;
    scrollbar-width: none;
}

.specials a {
    text-decoration: none;
    font-size: 1rem;
	font-family: "Georgia", "Times New Roman", serif;
    color: #ffffff;
    font-weight: 100;
    white-space: nowrap;
    padding: 6px 10px;
    border-radius: 20px;
    transition: background-color 0.2s ease;

	padding: 8px 18px;
    border-radius: 999px;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(5px);
}

/* section 3 */

.shopnu {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/achtergrond1.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section3tekst {
	justify-content: center; 
    align-items: center;

    text-align: center;
    padding: 200px 20px;
}

.section3tekst h2 {
    color: white;
    font-family: "Georgia", serif;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 10px 20px 10px 20px;
}

.section3tekst h1 {
    color: white;
	font-family: "Georgia", "Times New Roman";
    font-size: 30px;
    margin: 10px 0;
}

.shop-button {
    display: inline-block;
    padding: 12px 30px;
    margin-top: 20px;
    
    background: white;
    color: black;

    font-family: "Georgia", serif;
    font-size: 0.9rem;
    letter-spacing: 2px;

    text-decoration: none;
}

.wishlist h1 {
	color: rgb(129, 99, 86);
    font-family: "ClassGarmnd BT", "Times New Roman", serif;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
	margin: 40px 20px 10px 30px
}

.wishlist h2 {
	color: var(--font);
	font-family: "ClassGarmnd BT", "Times New Roman", serif;
    letter-spacing: 1.8px;
	font-size: 30px;
	font-weight: 100;
	margin: 20px 30px 20px 30px
}

.giftset {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 1.5em 1em;
    margin: 0;
    list-style: none;
    scrollbar-width: none;

    a {
        text-decoration: none;
        color: inherit;
    }

    img {
        height: 20em;
        object-fit: cover;
        scroll-snap-align: start;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    h3 {
        color: black;
        font-family: "ClassGarmnd BT", "Times New Roman", serif;
        font-size: 20px;
        font-weight: 50;
		margin-bottom: 2px;
		margin-top: 10px
    }

    .therituall, .productwaarde {
        color: black;
        font-family: "Scala Sans Pro", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
        font-size: 12px;
        font-weight: 100;
		margin-bottom: 2px;
    }

	.prijs {
        color: black;
        font-family: "ClassGarmnd BT", "Times New Roman", serif;
        font-size: 20px;
        font-weight: 100;
		margin-bottom: 2px;
		margin-top: 60px
    }

	.lijn {
    margin: 8px 0;
    border-top: 1px solid #ddd;
	}
}

.members img {
    height: 400px;
    cursor: pointer;
	background-position: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
