/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text1:#111;
	--secondary-text:white;
	--color-background:#ffffff;
	--secondary-background: rgb(24, 24, 24);
	--color-button:rgb(255, 255, 255);
}

.darkmode {
	--color-text1:#ffffff;
	--color-background:#000000;
	--color-button:rgb(77, 77, 77);
}

/****************/
/* JOUW STYLING */
/****************/

body {
	margin: 0%;
	background-color: var(--color-background);
}

.verborgen { /* Bron bijzetten */
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	
}

/* -----------section 1------------------------- */

.top-text {
  background: #262626;
  color: var(--secondary-text);
  text-align: center;
  font-size: 12px;
  font-family: unset;
  font-weight: 100;
  list-style: none;
  margin: 0;
  padding: 1px 0;

	li {
  		display: none;
	}

	li.active {
  		display: block;
	}

	a {
		color:#c2ae99;
		text-decoration: underline;
	}
}



/* -----------section 2------------------------- */

.navbar {
  background: 	var(--secondary-background);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

	a {
  		color: var(--secondary-text);
  		height: 60px;
  		font-size: 20px;
  		font-weight: 600;
  		letter-spacing: 4px;
  		text-transform: uppercase;
  		display: flex;
  		align-items: center;
  		text-decoration: none;
	}

	div {
  		display: flex;
  		gap: 18px;
  		align-items: center;
	}

	div button {
  		background: none;
  		border: none;
  		cursor: pointer;
	}

	div img {
  		width: 28px;
  		height: 28px;
  		object-fit: contain;
  		transition: transform 0.2s ease;
	}

	> button {
  		background: none;
  		border: none;
  		padding: 0;
  		cursor: pointer;
	}

	nav {
  		position: fixed;
  		inset: 0;
  		background: var(--secondary-background);
  		transform: translateX(-100%);
  		transition: 0.3s;
  		padding-top: 20px;
  		display: flex;
  		flex-direction: column;
  		z-index: 9999;

  		ul {
  			list-style: none;
  			margin: 0;
  			padding-left: 10px;
			overflow-y: auto;          
		}

		li {
  			padding: 5px 3px;
  			border-bottom: 1px solid rgba(255,255,255,0.06);
		}

		a {
  			color: var(--secondary-text);
  			font-size: 26px;
  			text-decoration: none;
  			font-family: serif;
		}

		div button {
  			background: none;
  			border: none;
  			padding: 10px;
  			cursor: pointer;
		}
	}
}

nav.toonMenu {
  transform: translateX(0);
}

.zoekbalk {
	background: var(--secondary-background);
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 25px;
		
	input {
    	grid-column: 1 / span 2;
    	grid-row: 2;
    	width: 100%;
    	max-width: 500px;
    	padding: 12px 0;

    	background: transparent;
    	border: 1px solid #555;
		border-radius: 10px;
    	color: var(--secondary-text);
    	font-size: 18px;
    	letter-spacing: 1px;
    	outline: none;
	}	

	button {
		grid-column: 1;
    	grid-row: 1;
    	background: none;
    	border: none;
    	cursor: pointer;
    	padding: 0;

		img {
    		width: 20px;
    		height: 20px;
    		display: block;
		}
	}
}


@media (min-width: 50em) {
  .navbar > button {
    display: none;
  }

  .mobile-menu {
    position: static;
    transform: none;
    background: none;
    padding-top: 0;
  }

  .mobile-menu button {
    display: none;
  }

  .mobile-menu ul {
    display: flex;
    gap: 1em;
    align-items: center;
  }
}



/* -----------section 3------------------------- */

.shopnu {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/achtergrond1.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
		
	ul {
    	display: flex;
    	overflow-x: auto;
    	gap: 1.2em;
    	padding: 1.5em 1em;
    	margin: 0;
    	list-style: none;
    	scrollbar-width: none;
	}
	
	ul a {
    	text-decoration: none;
    	font-size: 1rem;
		font-family: "Georgia", "Times New Roman", serif;
    	color: var(--secondary-text);
    	font-weight: 100;
    	white-space: nowrap;
    	padding: 6px 10px;
    	border-radius: 20px;
    	transition: background-color 0.2s ease;

		padding: 8px 18px;
    	border-radius: 999px;
    	background: rgba(0, 0, 0, 0.35);
    	backdrop-filter: blur(5px);
	}

	div {
		justify-content: center; 
    	align-items: center;

    	text-align: center;
    	padding: 150px 10px;
	}

	div h3 {
    	color: var(--secondary-text);
    	letter-spacing: 3px;
    	margin: 10px 20px 10px 20px;
	}

	div h2 {
    	color: var(--secondary-text);
    	margin: 10px 0;
	}

	div button{ 
    	display: inline-block;
    	padding: 12px 30px;
    	margin-top: 20px;
    
    	font-family: "Georgia", serif;
    	font-size: 0.9rem;
    	letter-spacing: 2px;
		text-decoration: none;
	}
}



/* -----------section 4------------------------- */

.wishlist {	
	background-color: var(--color-background);

	h2 {
		color: rgb(129, 99, 86);
    	font-family: "ClassGarmnd BT", "Times New Roman", serif;
    	font-size: 12px;
    	letter-spacing: 1.8px;
    	text-transform: uppercase;
		margin: 40px 20px 10px 30px
	}

	h3 {
		color: var(--color-text1);
		font-family: "ClassGarmnd BT", "Times New Roman", serif;
    	letter-spacing: 1.8px;
		font-size: 30px;
		font-weight: 100;
		margin: 20px 30px 20px 30px
	}

	ul{
    	display: flex;
    	overflow-x: auto;
    	gap: 15px;
    	padding: 1.5em 1em;
    	margin: 0;
    	list-style: none;
    	scrollbar-width: none;

    	a {
        	text-decoration: none;
        	color:var(--color-text1);
    	}

    	img {
    	    height: 20em;
    	    object-fit: cover;
        	scroll-snap-align: start;
        	transition: transform 0.3s ease;
        	cursor: pointer;
    	}

		p:first-of-type, p:last-of-type {
        	color: var(--color-text1);
        	font-family: "Scala Sans Pro", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
        	font-size: 12px;
        	font-weight: 100;
        	margin-bottom: 2px;
    	}

    	p:nth-of-type(2) {
        	color: var(--color-text1);
        	font-family: "ClassGarmnd BT", "Times New Roman", serif;
        	font-size: 20px;
        	font-weight: 100;
        	margin-bottom: 2px;
        	margin-top: 60px;
    	}

		div {
    		margin: 8px 0;
    		border-top: 1px solid #ddd;
		}
	}
}




/* -----------section 5------------------------- */

.members {
	background-color: var(--color-background);

	img {
    	height: 430px;
    	cursor: pointer;
		background-position: center;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
		margin-top:80px;
	}
	
	h2 {
		color: rgb(129, 99, 86);
    	font-family: "ClassGarmnd BT", "Times New Roman", serif;
    	font-size: 12px;
    	letter-spacing: 1.8px;
    	text-transform: uppercase;
		margin: 40px 20px 10px 30px
	}

	h3 {
		color: var(--color-text1);
		font-family: "ClassGarmnd BT", "Times New Roman", serif;
    	letter-spacing: 1.8px;
		font-size: 30px;
		font-weight: 100;
		margin: 20px 30px 20px 30px
	}

	p {
		color: var(--color-text1);
		font-size: 17.5px;
		margin: 20px 30px 20px 30px;
		font-family: "Scala Sans Pro", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  		font-weight: 100;
		line-height: 1.6;
	}

	button {
	    display: inline-block;
    	padding: 20px 36px;
    	margin-top: 12px;
		margin-left: 30px;
    
    	background: var(--color-button);
    	color: var(--color-text1);

    	font-family: "Georgia", serif;
    	font-size: 12px;
    	letter-spacing: 2px;
		text-decoration: none;
	}
}


/* -----------section 6------------------------- */

.ontdekrituals {
	background-color: var(--color-background);
	
	h2 {
		color: rgb(129, 99, 86);
    	font-family: "ClassGarmnd BT", "Times New Roman", serif;
    	font-size: 12px;
    	letter-spacing: 1.8px;
    	text-transform: uppercase;
		margin: 40px 20px 10px 30px;
	}
	
	ul{
    display: flex;
    overflow-x: auto;
    gap: 15px;
	padding:0%;
    margin: 0;
    list-style: none;
    scrollbar-width: none;

    	a {
        	text-decoration: none;
        	color: inherit;
    	}

    	img {
			object-fit: cover;
  			height: auto;
  			width: 100%;
  			max-width: 100%;

    	}

		p {
        	color: var(--color-text1);
        	font-family: "Scala Sans Pro", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
        	font-size: 12px;
        	font-weight: 100;
        	margin-bottom: 2px;
    	}
		
		button {
	    	display: inline-block;
    		padding: 20px 36px;
    		margin-top: 12px;
			margin-left: 30px;
			background-color: none;
    		color: var(--color-button);
    		font-family: "Georgia", serif;
    		font-size: 12px;
    		letter-spacing: 2px;
			text-decoration: none;
		}
	}
}

.carousel {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 20px 0;
    margin: 0;
    overflow-x: hidden;
    justify-content: center;
    position: relative;
    transition: transform 0.4s ease;
}

.carousel li button {
    background: none;
    border: none;
    font-size: 20px;
    color: #aaa;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
}

.carousel li.active button {
    color: white;
    font-weight: bold;
    border-bottom: 2px solid white;
}




/* -----------section 7------------------------- */

.simplythebest {

    h2 {
        color: rgb(129, 99, 86);
        font-family: "ClassGarmnd BT", "Times New Roman", serif;
        font-size: 12px;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        margin: 40px 20px 10px 30px;
		text-align: center;
    }

    h3 {
        color: var(--color-text1);
		font-family: "ClassGarmnd BT", "Times New Roman", serif;
    	letter-spacing: 1.8px;
		font-size: 20px;
		text-align: center;
		font-weight: 100;
		margin-top: 10px;
		margin-bottom: 30px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 30px 60px 20px 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: start;
    }

    ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 200px;
    }

    ul li img {
        height: 5em;
        object-fit: contain;
        transition: transform 0.3s ease;
        cursor: pointer;
        margin-bottom: 10px;
    }

    ul li p {
        color: var(--color-text1);
        font-family: "ClassGarmnd BT", "Times New Roman", serif;
        letter-spacing: 1.8px;
        font-size: 13px;
        font-weight: 100;
		line-height: 25px;
    }

    @media (max-width: 300px) {
        ul {
            grid-template-columns: 1fr;
        }
    }
}




/* -----------section 7------------------------- */

.brainmassage {
	background-color: #f6f4f2;
	margin-top: 10px;
	padding: 10px 0px 10px 0px;

	img {
    	height: 430px;
    	cursor: pointer;
		background-position: center;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
		margin-top:80px;
	}
	
	h2 {
		color: rgb(129, 99, 86);
    	font-family: "ClassGarmnd BT", "Times New Roman", serif;
    	font-size: 12px;
    	letter-spacing: 1.8px;
    	text-transform: uppercase;
		margin: 40px 20px 10px 30px
	}

	h3 {
		color: rgb(0, 0, 0);
		font-family: "ClassGarmnd BT", "Times New Roman", serif;
    	letter-spacing: 1.8px;
		font-size: 30px;
		font-weight: 100;
		margin: 20px 30px 20px 30px
	}

	p {
		color: rgb(0, 0, 0);
		font-size: 17.5px;
		margin: 20px 30px 20px 30px;
		font-family: "Scala Sans Pro", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  		font-weight: 150;
		line-height: 1.6;
		letter-spacing: 1px;
	}

	button {
	    display: inline-block;
    	padding: 20px 36px;
    	margin-top: 12px;
		margin-left: 30px;
    
    	background:none;
    	color: black;

    	font-family: "Georgia", serif;
    	font-size: 12px;
    	letter-spacing: 2px;
		text-decoration: none;
	}

}



/* -----------footer---section 8------------------ */

.blijfopdehoogte {
	background-color: var(--secondary-background);
	color: var(--secondary-text);
	padding: 30px;
	text-align: center;

	h2 {
		color: var(--secondary-text);
		font-family: "ClassGarmnd BT", "Times New Roman", serif;
    	letter-spacing: 1.8px;
		font-size: 28px;
		font-weight: 100;
		margin: 20px 30px 20px 30px;
	}

	p {
		margin: 20px 45px 20px 45px; 
		font-size: 15px; 
		font-weight: 100; 
		line-height: 1.5; 
		letter-spacing: 1px;
	}

	a {
		color:#c2ae99;
		text-decoration: underline;
	}

	input {
    	width: 80%;
    	max-width: 500px;
    	padding: 18px 20px;
    	background: #181818;
    	border: none;
    	color: var(--secondary-text);
    	font-size: 16px;
    	letter-spacing: 1px;
    	margin-bottom: 25px;
	}

	button {
	    padding: 20px 36px;
    	background: white;
    	color: var(--color-text1);
    	border: none;
    	font-family: "Georgia", serif;
    	font-size: 12px;
    	letter-spacing: 2px;
		background-color: var(--color-button);
	}
}



/* -----------footer---section 9------------------ */


.info {
    background:	var(--secondary-background);
    padding:20px;
    color:var(--secondary-text);
    font-family:"Times New Roman", serif;

	> ul {
    	list-style:none;
    	padding:0;
		margin-top: 20px;
	}

	li {
    	border-top:1px solid rgba(255,255,255,0.2);
    	padding:15px 0;
	}

	li:last-child {
    	border-bottom:1px solid rgba(255,255,255,0.2);
	}

	button {
    	width:100%;
    	background:none;
    	border:none;
    	color:var(--secondary-text);
    	font-size:18px;
    	letter-spacing:1px;
    	display:flex;
    	justify-content:space-between;
    	align-items:center;
    	padding:10px 0;
	}

	button img {
    	width:18px;
    	height:18px;
    	transition:0.3s;
	}

	li > ul {
    	max-height:0;
    	overflow:hidden;
    	transition:max-height 0.5s ease;
    	margin-top:5px;
    	padding-left:10px;
		list-style: none;
	}

	li > ul li {
    	border:none;
    	padding:4px 0;
	}

	li > ul a {
    	color:#cfcfcf;
    	text-decoration:none;
    	font-size:15px;
		font-weight: 10;
	}

	li.active > ul {
    	max-height: 500px;
	}
}



/* -----------footer---section 10------------------ */

.overig {
	background:	var(--secondary-background);
    padding:20px;
    color:var(--secondary-text);

	h3 {
		color: #c2ae99;
    	font-family: "ClassGarmnd BT", "Times New Roman", serif;
    	font-size: 12px;
    	letter-spacing: 1.8px;
    	text-transform: uppercase;
		margin: 0px;
	}

	> a {
		display: inline-block;
  		margin-right: 8px;
	}

	img {
		width: 155px;
  		height: auto;
  		display: block;
		margin-top: 15px;
		margin-bottom: 25px;
	}

	p {
		font-size: 14px;
    	margin-bottom: 10px;
    	display: block;
    	opacity: .7;
	}
}






/* -----------advent---section 11------------------ */


.experts {
    background:	rgb(76, 1, 1);
    padding:20px;
    color:var(--secondary-text);
    font-family:"Times New Roman", serif;

	> ul {
    	list-style:none;
    	padding:0;
		margin-top: 20px;
	}

	li {
    	border-top:1px solid rgba(255,255,255,0.2);
    	padding:15px 0;
	}

	button {
    	width:100%;
    	background:none;
    	border:none;
    	color:var(--secondary-text);
    	font-size:18px;
    	letter-spacing:1px;
    	display:flex;
    	justify-content:space-between;
    	padding:10px 0;
	}

	button img {
    	width:18px;
    	height:18px;
    	transition:0.3s;
	}

	li.active > ul {
    	max-height: 500px;
	}
}
